<footer class="footer_1">
    <div id="div_footer_1">
        <p><a href="#">PREGUNTAS AL WHATSAPP</a></p>
        <p><a href="#">(642) 108 3787</a></p>
    </div>
    
</footer>
<footer class="footer_2">
    <div id="div_footer_2">
        <p><a href="#">Sitio hecho por TU SITIO TECNOLÓGICO</a></p>
        <p><a href="#">AVISO DE PRIVACIDAD</a></p>
    </div>
</footer>