<footer class="footer_panel_class">
    <div id="div_footer_panel_class">
        <p><a href="#">Sitio hecho por TU SITIO TECNOLÓGICO</a></p>
        <p><a href="#">AVISO DE PRIVACIDAD</a></p>
    </div>
</footer>