<footer class="footer_1">
    <div id="div_footer_1">
        <p><a href="#">Sitio hecho por TU SITIO TECNOLÓGICO</a></p>
        <p><a href="#">AVISO DE PRIVACIDAD</a></p>
    </div>
</footer>
