<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Metatags para redes sociales (Open Graph) -->
        <meta property="og:title" content="Rifas Economicas Navojoa" />
        <!--<meta property="og:description" content="" />-->
        <meta property="og:url" content="https://rifaseconomicasnavojoa.site/" />
        <meta property="og:image" content="img/rifas_economicas_navojoa-logo.png" />
        
        <title>Rifas Economicas Navojoa</title>
        
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
        <!-- Favicon en formato PNG (para que el logo aparezca en navegadores) -->
        <link rel="icon" type="image/png" href="/img/rifas_economicas_navojoa-logo.png">
        <!-- Opcional: Favicon para dispositivos Apple  (para que el logo aparezca en navegadores apple) -->
        <link rel="apple-touch-icon" href="/img/rifas_economicas_navojoa-logo.png">

        <link rel="preload" href="/img/rifas_economicas_navojoa-logo.png" as="image">
        <link rel="preload" href="/img/moto_italika_deportiva_vort-x250_2024_roja_2_11zon.webp" as="image">
        <!--
        <link rel="preload" href="img/loading.gif" as="image">
        <link rel="preload" href="img/cancelar.png" as="image">
        <link rel="preload" href="img/comprobar.png" as="image">
        <link rel="preload" href="img/maquinitaDeLaSuerte.gif" as="image">
        -->
    </head>
    <body>
        <div id="locationModal">
            <div id="infoModal">
                <p style="font-size: 21px;">Para poder utilizar nuestro servicio es necesario que permitas el acceso a tu ubicación para fines de seguridad.</p>
                <button id="enableLocation">Continuar</button>
            </div>
        </div>

        <div id="content_page_panel" class="content_page_panel_class">
            <div id="div_header_panel" class="div_header">
                <!--
                <div id="div_darkModeBtn" class="div_darkModeBtn_class">
                    <button id="dark_mode_btn" class="dark_mode_btn_class"></button>
                </div>
                -->
            </div>
    
            <div id="logo_panel" class="logo_panel_class">
                <img src="/img/rifas_economicas_navojoa-logo.png" alt="Logo" />
            </div>
    
            <%- include('partials/navbar_panel') %>

            <div class="div_sectionAbajo_panel">
                <div id="div_alinear_panel" class="div_alinear">
                    <div class="div_trianguloAbajo_panel_class">
                        <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                            <polygon points="50,70 25,30 75,30" fill="white" />
                        </svg>
                    </div>
                    <div class="div_hazClickAbajo">
                        <strong id="span_hazClickAbajo">PANEL DE CONTROL</strong>
                    </div>
                    <div class="div_trianguloAbajo_panel_class">
                        <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                            <polygon points="50,70 25,30 75,30" fill="white" />
                        </svg>
                    </div>
                </div>
            </div>
            
            <main id="main-content-panel" class="main_content_panel_class">
                <!--
                <div class="div_conteiner_panel_class">
                    <div class="div_section_panel_class">
                        
                    </div>
                    <div class="div_section_panel_class">
                        RIFA
                    </div>
                    <div class="div_section_panel_class">
                        
                    </div>
                </div>
                <div class="div_conteiner_panel_class">
                    <div class="div_section_panel_class">
                        
                    </div>
                    <div class="div_section_panel_class">
                        RIFA
                    </div>
                    <div class="div_section_panel_class">
                        
                    </div>
                </div>
                <div class="div_conteiner_panel_class">
                    <div class="div_section_panel_class">
                        
                    </div>
                    <div class="div_section_panel_class">
                        RIFA
                    </div>
                    <div class="div_section_panel_class">
                        
                    </div>
                </div>
                -->
                <div class="div_conteiner_panel_class">
                    <div class="div_section_panel_class">
                        <div class="div_buttons">
                            <button id="btn_enviarWhatsapp_panel" class="btn_panel_class" disabled>Enviar Whatsapp</button><br>
                            <button id="btn_enviarBoleto_panel" class="btn_panel_class" disabled>Enviar Boleto</button><br>
                            <button id="btn_detalles_panel" class="btn_panel_class" disabled>Detalles</button>
                        </div>
                    </div>
                    <div class="div_section_panel_class">
                        <div class="div_buttons">
                            <button id="btn_pagado_panel" class="btn_panel_class" disabled>Pagado</button><br>
                            <button id="btn_eliminarPago_panel" class="btn_panel_class" disabled>Eliminar Pago</button><br>
                            <button id="btn_eliminarApartado_panel" class="btn_panel_class" disabled>Eliminar Apartado</button>
                        </div>
                    </div>
                </div>
                <!--
                <div class="div_conteiner_filtros_panel_class">
                    <div class="form-group-panel">
                        <label for="buscar_year_panel" class="lbl_search_year_panel_class">A&ntilde;o:</label>
                        <select name="select_filtro_year_panel" id="select_filtro_year_panel">
                            <option value="">Seleccionar a&ntilde;o</option>
                            <option value="2025">2025</option>
                        </select>
                    </div>
                    <div class="form-group-panel">
                        <label for="buscar_mes_panel" class="lbl_buscar_mes_panel_class">Mes:</label>
                        <select name="select_filtro_mes_panel" id="select_filtro_mes_panel">
                            <option value="">Seleccionar mes</option>
                            <option value="Enero">Enero</option>
                            <option value="Febrero">Febrero</option>
                            <option value="Marzo">Marzo</option>
                            <option value="Abril">Abril</option>
                            <option value="Mayo">Mayo</option>
                            <option value="Junio">Junio</option>
                            <option value="Julio">Julio</option>
                            <option value="Agosto">Agosto</option>
                            <option value="Septiembre">Septiembre</option>
                            <option value="Octubre">Octubre</option>
                            <option value="Noviembre">Noviembre</option>
                            <option value="Diciembre">Diciembre</option>
                        </select>
                    </div>
                    <div class="form-group-panel">
                        <label for="buscar_estado_panel" class="lbl_buscar_estado_panel_class">Estado:</label>
                        <select name="select_filtro_estado_panel" id="select_filtro_estado_panel">
                            <option value="" disabled selected>Selecciona un estado</option>
                            <option value="aguascalientes">Aguascalientes</option>
                            <option value="baja_california">Baja California</option>
                            <option value="baja_california_sur">Baja California Sur</option>
                            <option value="campeche">Campeche</option>
                            <option value="chiapas">Chiapas</option>
                            <option value="chihuahua">Chihuahua</option>
                            <option value="cdmx">Ciudad de M&eacute;xico</option>
                            <option value="coahuila">Coahuila</option>
                            <option value="colima">Colima</option>
                            <option value="durango">Durango</option>
                            <option value="guanajuato">Guanajuato</option>
                            <option value="guerrero">Guerrero</option>
                            <option value="hidalgo">Hidalgo</option>
                            <option value="jalisco">Jalisco</option>
                            <option value="estado_mexico">Estado de M&eacute;xico</option>
                            <option value="michoacan">Michoac&aacute;n</option>
                            <option value="morelos">Morelos</option>
                            <option value="nayarit">Nayarit</option>
                            <option value="nuevo_leon">Nuevo Le&oacute;n</option>
                            <option value="oaxaca">Oaxaca</option>
                            <option value="puebla">Puebla</option>
                            <option value="queretaro">Quer&eacute;taro</option>
                            <option value="quintana_roo">Quintana Roo</option>
                            <option value="san_luis_potosi">San Luis Potos&iacute;</option>
                            <option value="sinaloa">Sinaloa</option>
                            <option value="sonora">Sonora</option>
                            <option value="tabasco">Tabasco</option>
                            <option value="tamaulipas">Tamaulipas</option>
                            <option value="tlaxcala">Tlaxcala</option>
                            <option value="veracruz">Veracruz</option>
                            <option value="yucatan">Yucat&aacute;n</option>
                            <option value="zacatecas">Zacatecas</option>
                        </select>                    
                    </div>
                    <div class="form-group-panel">
                        <label for="buscar_nombre_panel" class="lbl_buscar_nombre_panel_class">Nombre:</label>
                        <input type="text" id="input_buscar_nombre_panel" class="input_buscar_nombre_panel_class">
                    </div>
                    <div class="form-group-panel">
                        <label for="buscar_pagado_panel" class="lbl_buscar_pagado_panel_class">Pagado:</label>
                        <select name="select_filtro_pagado_panel" id="select_filtro_pagado_panel">
                            <option value="">Seleccionar</option>
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <div class="form-group-panel">
                        <label for="buscar_year_panel" class="lbl_search_year_panel_class">Disponible:</label>
                        <select name="select_filtro_disponible_panel" id="select_filtro_disponible_panel">
                            <option value="">Seleccionar</option>
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <div class="form-group-panel">
                        <label for="buscar_boleto_panel" class="lbl_buscar_boleto_panel_class">Boleto:</label>
                        <input type="text" id="input_buscar_boleto_panel" class="input_buscar_boleto_panel_class">
                    </div>
                    <div class="form-buttons-panel">
                        <button id="btn_buscarBoleto_panel" class="btn_panel_class">Buscar</button>
                        <button id="btn_limpiarFiltros_panel" class="btn_panel_class">Limpiar Filtros</button>
                    </div>
                </div>
                -->
                <div id="loading" style="display: none;">Cargando...</div>
                <div id="table-panel" class="tableClass_panel"></div>
            </main>
            
            <!--<div class="div_espacio5"></div>-->

            <!-- Modal -->
            <div id="info-modal-panel" class="modal-panel">
                <div class="modal-content-panel">
                    <div class="modal-header-panel">Información del Boleto <span class="close-modal-panel-class" id="close-modal-panel">&times;</span></div>
                    <div class="modal-body-panel" id="modal-body-panel">
                        <!-- Aquí se cargará la información del boleto -->
                    </div>
                    <!--
                    <div class="modal-footer">
                    </div>
                    -->
                </div>
            </div>

            <!-- Modal -->
            <div id="info-modal-personalizado-panel" class="modal-panel">
                <div class="modal-content-panel">
                    <div class="modal-header-panel"> <!-- Aqui se pone el titulo para el modal--> <span class="close-modal-panel-class" id="close-modal-personalizado-panel">&times;</span></div>
                    <div class="modal-body-panel" id="modal-personalizado-body-panel">
                        <!-- Aquí se cargará la información del boleto -->
                    </div>
                    <!--
                    <div class="modal-footer">
                    </div>
                    -->
                </div>
            </div>


            <%- include('partials/footer_panel') %>
    
        </div>
        

        <script src="/config.js"></script>
        <script src="/js/panel.js"></script>
        <script src="/js/navbar_panel_EJS.js"></script>
        
        
    </body>
</html>