<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Metatags para redes sociales (Open Graph) -->
        <meta property="og:title" content="Rifas Economicas Navojoa" />
        <!--<meta property="og:description" content="" />-->
        <meta property="og:url" content="https://rifaseconomicasnavojoa.site/" />
        <meta property="og:image" content="img/rifas_economicas_navojoa-logo.png" />
        
        <title>Rifas Economicas Navojoa</title>
        
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
        <!-- Favicon en formato PNG (para que el logo aparezca en navegadores) -->
        <link rel="icon" type="image/png" href="/img/rifas_economicas_navojoa-logo.png">
        <!-- Opcional: Favicon para dispositivos Apple  (para que el logo aparezca en navegadores apple) -->
        <link rel="apple-touch-icon" href="/img/rifas_economicas_navojoa-logo.png">

        <link rel="preload" href="/img/rifas_economicas_navojoa-logo.png" as="image">
        <link rel="preload" href="/img/moto_italika_deportiva_vort-x250_2024_roja_2_11zon.webp" as="image">
        <!--
        <link rel="preload" href="img/loading.gif" as="image">
        <link rel="preload" href="img/cancelar.png" as="image">
        <link rel="preload" href="img/comprobar.png" as="image">
        <link rel="preload" href="img/maquinitaDeLaSuerte.gif" as="image">
        -->
        
    </head>
    <body>
        <div id="locationModal">
            <div id="infoModal">
                <p style="font-size: 21px;">Para poder utilizar nuestro servicio es necesario que permitas el acceso a tu ubicación para fines de seguridad.</p>
                <button id="enableLocation">Continuar</button>
            </div>
        </div>
        <div id="content_page">
            <div class="div_header">
                <button id="theme-dark-toggle" class="dark_mode_btn"></button>
            </div>
    
            <div class="logo">
                <img src="/img/rifas_economicas_navojoa-logo.png" alt="Logo" />
            </div>
    
            <%- include('../partials/navbar') %>

            <div class="div_espacio3"></div>
    
            
            <div id="div_sectionHazclickAbajo_cerrado">
                <div class="div_alinear">
                    <div class="div_trianguloAbajo">
                        <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                            <polygon points="10,30 50,80 90,30" fill="white" />
                        </svg>
                    </div>
                    <div class="div_hazClickAbajo">
                        <strong id="span_hazClickAbajo">PREGUNTAS FRECUENTES</strong>
                    </div>
                    <div class="div_trianguloAbajo">
                        <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                            <polygon points="10,30 50,80 90,30" fill="white" />
                        </svg>
                    </div>
                </div>
            </div>
    
            <main id="main-content" class="main-content" style="display: none;">
                    
            </main>
            
            <div class="div_espacio5"></div>

            <%- include('../partials/footer') %>
    
        </div>
        
        
        <script src="/config.js"></script>
        <script src="/js/preguntas_frecuentes.js"></script>
        <script src="/js/navbar_EJS.js"></script>
        
        
    </body>
</html>